<div>
  <!-- Vote UP -->
  <button
    title="{{ (MessageVote.hasVoterUP() ? 'shared_message_unvoteup' : 'shared_message_voteup') | translate }}"
    class="btn btn-default" ng-disabled="MessageVote.voterUPDisabled"
    ng-click="MessageVote.toggleVoterUP(message, this)">
    <i ng-class="{'fa fa-chevron-up': !MessageVote.hasVoterUP(), 'fa fa-chevron-up tat-vote':MessageVote.hasVoterUP()}"></i>
  </button>

  <button disabled="disabled" class="btn btn-default">
    {{ MessageVote.message.nbVotesUP - MessageVote.message.nbVotesDown }}
  </button>

  <!-- Vote Down -->
  <button
    title="{{ (MessageVote.hasVoterDown() ? 'shared_message_unvotedown' : 'shared_message_votedown') | translate }}"
    class="btn btn-default" ng-disabled="MessageVote.voterDownDisabled"
    ng-click="MessageVote.toggleVoterDown()">
    <i ng-class="{'fa fa-chevron-down': !MessageVote.hasVoterDown(), 'fa fa-chevron-down tat-vote':MessageVote.hasVoterDown()}"></i>
  </button>
</div>
