<!doctype html>
<html lang="en" data-ng-app="TatUi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Tat - TextAndTags</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- build:css(.) styles/vendor.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css" />
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.css" />
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="bower_components/spectrum/spectrum.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="bower_components/prism/themes/prism.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/prism/themes/prism-solarizedlight.css" />
    <link rel="stylesheet" href="bower_components/prism/plugins/line-numbers/prism-line-numbers.css" />
    <!-- endbuild -->

    <!-- build:css(.) styles/main.min.css -->
    <link rel="stylesheet" href="build/styles/main.css" />
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.min.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-component/dist/angular-component.min.js"></script>
    <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/spectrum/spectrum.js"></script>
    <script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <script src="bower_components/prism/components/prism-bash.js"></script>
    <script src="bower_components/prism/components/prism-perl.js"></script>
    <script src="bower_components/prism/components/prism-python.js"></script>
    <script src="bower_components/prism/components/prism-java.js"></script>
    <script src="bower_components/prism/components/prism-docker.js"></script>
    <script src="bower_components/prism/components/prism-javascript.js"></script>
    <script src="bower_components/prism/components/prism-php.js"></script>
    <script src="bower_components/prism/components/prism-go.js"></script>
    <script src="bower_components/prism/components/prism-css.js"></script>
    <!-- endbuild -->

    <!-- build:js(.) scripts/main.min.js -->
    <script src="src/app/app.js"></script>
     <!-- injector:js -->

     <!-- endinjector -->
    <script src="bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="src/app/components/dashboard/dashboard.route.js"></script>
    <script src="src/app/components/dashboard/dashboard.controller.js"></script>
    <script src="src/app/components/user/confirm/user-confirm.route.js"></script>
    <script src="src/app/components/user/confirm/user-confirm.controller.js"></script>
    <script src="src/app/components/user/login/user-login.route.js"></script>
    <script src="src/app/components/user/login/user-login.controller.js"></script>
    <script src="src/app/components/user/logout/user-logout.route.js"></script>
    <script src="src/app/components/user/logout/user-logout.controller.js"></script>
    <script src="src/app/components/user/profile/user-profile.route.js"></script>
    <script src="src/app/components/user/profile/user-profile.controller.js"></script>
    <script src="src/app/components/user/reset/user-reset.route.js"></script>
    <script src="src/app/components/user/reset/user-reset.controller.js"></script>
    <script src="src/app/components/user/signup/user-signup.route.js"></script>
    <script src="src/app/components/user/signup/user-signup.controller.js"></script>
    <script src="src/app/components/user/signup/done/user-signup-done.route.js"></script>
    <script src="src/app/components/presences/list/presences-list.controller.js"></script>
    <script src="src/app/components/presences/list/presences-list.route.js"></script>
    <script src="src/app/components/groups/edit/groups-edit.controller.js"></script>
    <script src="src/app/components/groups/edit/groups-edit.route.js"></script>
    <script src="src/app/components/groups/new/groups-new.controller.js"></script>
    <script src="src/app/components/groups/new/groups-new.route.js"></script>
    <script src="src/app/components/groups/list/groups-list.controller.js"></script>
    <script src="src/app/components/groups/list/groups-list.route.js"></script>
    <script src="src/app/components/topics/edit/topics-edit.controller.js"></script>
    <script src="src/app/components/topics/edit/topics-edit.route.js"></script>
    <script src="src/app/components/topics/new/topics-new.controller.js"></script>
    <script src="src/app/components/topics/new/topics-new.route.js"></script>
    <script src="src/app/components/topics/list/topics-list.controller.js"></script>
    <script src="src/app/components/topics/list/topics-list.route.js"></script>
    <script src="src/app/components/users/edit/users-edit.controller.js"></script>
    <script src="src/app/components/users/edit/users-edit.route.js"></script>
    <script src="src/app/components/users/list/users-list.controller.js"></script>
    <script src="src/app/components/users/list/users-list.route.js"></script>
    <script src="src/app/shared/message-filter/message-filter-bar.component.js"></script>
    <script src="src/app/shared/message-vote/message-vote.component.js"></script>
    <script src="src/app/shared/message-label/message-label.component.js"></script>
    <script src="src/app/shared/message-box/message-box.component.js"></script>
    <script src="src/app/shared/message-load/message-load.component.js"></script>
    <script src="src/app/shared/sidebar/sidebar.component.js"></script>
    <script src="src/app/shared/header/header.component.js"></script>
    <script src="src/app/shared/message-reply/message-reply.component.js"></script>
    <script src="src/app/shared/authentication/authentication.provider.js"></script>
    <script src="src/app/shared/authentication/authentication.resource.js"></script>
    <script src="src/app/shared/identity/identity.provider.js"></script>
    <script src="src/app/shared/filter/filter.provider.js"></script>
    <script src="src/app/shared/topic/topic.provider.js"></script>
    <script src="src/app/shared/loading/loading.directive.js"></script>
    <script src="src/app/shared/linker/linker.provider.js"></script>
    <script src="src/app/shared/master/master.controller.js"></script>
    <script src="src/app/shared/nl2br/nl2br.filter.js"></script>
    <script src="src/app/shared/shortener/shortener.filter.js"></script>
    <script src="src/app/shared/ng-enter/ng-enter.directive.js"></script>
    <script src="src/app/shared/message-prism/message-prism.directive.js"></script>
    <script src="src/app/shared/config-urls/config-urls.directive.js"></script>
    <script src="src/app/shared/parseTags/parseTags.filter.js"></script>
    <script src="src/app/shared/plugin/plugin.provider.js"></script>
    <script src="src/app/shared/color-picker/color-picker.directive.js"></script>
    <script src="src/app/shared/tat-engine/tat-engine.provider.js"></script>
    <script src="src/app/shared/tat-engine/tat-engine.interceptor.js"></script>
    <script src="src/app/shared/tat-engine/providers/message.provider.js"></script>
    <script src="src/app/shared/tat-engine/resources/groups.resource.js"></script>
    <script src="src/app/shared/tat-engine/resources/messages.resource.js"></script>
    <script src="src/app/shared/tat-engine/resources/presences.resource.js"></script>
    <script src="src/app/shared/tat-engine/resources/topics.resource.js"></script>
    <script src="src/app/shared/tat-engine/resources/users.resource.js"></script>
    <script src="src/app/shared/tat-engine/resources/system.resource.js"></script>
    <script src="src/app/shared/user-display/user-display.directive.js"></script>
    <script src="src/app/shared/widget/widget-header.directive.js"></script>
    <script src="src/app/shared/widget/widget.directive.js"></script>
    <script src="src/app/shared/widget/widget-body.directive.js"></script>
    <script src="src/app/shared/widget/widget-footer.directive.js"></script>

    <!-- endbuild -->

    <!-- injectorplugins:js -->

    <!-- endinjectorplugins -->

    <script src="scripts/config.js"></script>
    <script src="scripts/moment.js"></script>

</head>
<body data-ng-controller="MasterCtrl as ctrl">
  <div id="page-wrapper" data-ng-class="{'open': ctrl.data.showSidebar}" data-ng-cloak data-ng-if="isConnected()">

    <!-- Sidebar -->
    <sidebar></sidebar>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <!-- Flash messages -->
      <div class="notification" ng-show="hasFlash">
        <div flash-message="5000"></div>
      </div>

      <div ui-view></div>

    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
  <div data-ng-if="!isConnected()" ui-view class="tat-login"></div>
</body>
</html>
