<div class="tat-add-label-form" ng-show="ctrl.isDisplayed">
  <div class="input-group">
    <div class="input-group-addon tat-colorpicker">
      <spectrum-colorpicker ng-show="ctrl.isDisplayed"
        ng-model="ctrl.labelColor"
        palette="ctrl.palette"
        options="{showInput: true, showAlpha: true, preferredFormat:'Hex',
        showPalette: true, togglePaletteOnly: false}" >
      </spectrum-colorpicker>
    </div>

    <form ng-submit="ctrl.addLabel(message)">
      <div mass-autocomplete>
        <input ng-model="ctrl.labelText" class="form-control" type="text"
               mass-autocomplete-item="autocomplete_options_labels"
               placeholder="{{ 'shared_message_label_add' | translate }}">
      </div>
    </form>
  </div>
</div>
