node_modules
.tmp
.idea
bower_components
dist
.dist
build
.build
*.orig
*.un~
npm-debug.log
config.json
config.json.dev
config.json.dev.2
config.json.prod
config.*.json
.DS_Store
bower.json
custom.plugin.tpl.json
config.json.prod
client/src/index.html
*.un~
*.swp
