<div class="page-content">

  <header></header>

  <div class="tat-admin" data-ng-controller="TopicsNewCtrl">
    <div class="row">
      <div class="col-lg-6">
        <form role="form">
          <div class="form-group">
            <label for="topicname">{{ 'shared_common_topic' | translate}}</label>
            <input type="text" class="form-control" id="topicname" data-ng-model="topic.topic">
          </div>
          <div class="form-group">
            <label for="description">{{ 'shared_common_description' | translate}}</label>
            <input type="text" class="form-control" id="description" data-ng-model="topic.description">
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="createTopic()">
            {{ 'shared_common_create' | translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
