{
  "backend": {
    "scheme": "http",
    "host": "ip_or_domain_of_tat_engine",
    "port": 8001,
    "autologin": false
  },
  {
    "xmpp": {
      "domain": "domain.net"
    }
  },
  "help": {
    "signup": [ "HELP_SIGNUP" ]
  },
  "links": {
    "home": [
      {
        "caption": "label home 1",
        "url": "http://tat-engine.tat.tat.home1.sample"
      },
      {
        "caption": "label home 2",
        "url": "http://tat-engine.tat.tat.home2.sample"
      }
    ],
    "menu": [
      {
        "caption": "label 1",
        "url": "http://tat-engine.tat.tat.label1.sample"
      },
      {
        "caption": "label 2",
        "url": "http://tat-engine.tat.tat.label2.sample"
      }
    ]
  },
  "viewconfigs": {
    "standardview-list": {
      "filters": {
        "placeholder": {
          "text": "text",
          "label": "open,doing",
          "andLabel": "open,doing",
          "notLabel": "done",
          "tag": "PCC,STOCKAGE",
          "andTag": "PCC,STOCKAGE",
          "notTag": "PCC,STOCKAGE"
        }
      }
    }
  }
}
