<div class="signup" data-ng-controller="UserSignupCtrl">
    <h1>{{ 'shared-title-tat' | translate}}</h1>
    <div class="signup-box">
        <form role="form">
          <div class="form-group">
            <label for="fullname">{{ 'components_user_signup_fullname' | translate}}</label>
            <input type="text" class="form-control" id="fullname" data-ng-model="user.fullname">
          </div>
          <div class="form-group">
            <label for="email">{{ 'components_user_signup_email' | translate}}</label>
            <input type="email" class="form-control" id="email" data-ng-model="user.email">
          </div>
          <div class="form-group" ng-show="displayUsername">
            <label for="username">{{ 'components_user_signup_username' | translate}}</label>
            <input type="text" class="form-control" id="email" data-ng-model="user.username">
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="signup()">{{ 'components_user_signup_create' | translate}}</button>
        </form>
        <div class="col-xs-12" data-ng-repeat="help in helpSignup">
            <hr>
            <div class="alert alert-info">{{ help }}</div>
        </div>
    </div>
</div>
