<div class="row tat-msg-create">
  <form method="post" action="/" ng-hide="ctrl.filterDialog.visible">
    <div class="tat-msg-input" ng-show="ctrl.showBox && ctrl.isTopicRw">
      <div mass-autocomplete>
        <textarea dir="auto" name="msg"
          ng-enter="ctrl.createMessage()"
          ng-focus="ctrl.createMessageFocus=true"
          mass-autocomplete-item="autocompleteOptionsTags"
          ng-blur="ctrl.createMessageFocus=false"
          ng-model="ctrl.currentMessage"
          placeholder="{{ctrl.placeholder}}">
        </textarea>
        <i ng-click="ctrl.createMessage()" class="icon-paper-plane fa fa-send-o" title="{{ 'shared_message_send' | translate }}"></i>
      </div>
    </div>

    <div ng-if="ctrl.currentMessage.length > 0" class="tat-remaining-chars" ng-hide="!ctrl.createMessageFocus">
      <i>{{ 'shared_message_characters_left' | translate }}: {{ ctrl.topic.maxlength - ctrl.currentMessage.length }}</i>
    </div>

    <div class="btn-group">

      <a class="btn btn-default" ng-show="ctrl.isCompact && ctrl.showBox" ng-click="ctrl.showBox=false">
        <i class="icon-cancel fa fa-times"></i>
      </a>
      <div class="btn btn-default" ng-show="ctrl.isCompact && !ctrl.showBox && ctrl.isTopicRw"
          data-ng-click="ctrl.showBox = true" uib-tooltip="{{ctrl.tooltipBtnCompact}}">
        <i class="fa fa-edit"></i>
      </div>

      <a class="btn btn-default" ng-click="ctrl.filterDialog.visible=!ctrl.filterDialog.visible" ng-class="{'open': ctrl.filterDialog.visible}">
        <i class="fa fa-filter"></i>
      </a>
      <a ng-hide="ctrl.btnExpand===false" class="btn btn-default" title="Toggle display replies" ng-click="ctrl.expandReplies = !ctrl.expandReplies" ng-class="{'open': ctrl.expandReplies}">
        <i ng-class="ctrl.expandReplies ? 'fa fa-compress': 'fa fa-expand'"></i>
      </a>
    </div>
  </form>
  <div ng-if="ctrl.defaultLabels && ctrl.currentMessage.length > 0">
  {{ 'shared_messages_labels_add' | translate }}
    <span
      class="tat-label"
      style="background-color: {{ label.color }}; border-color: {{ label.color }}; color: {{ ctrl.getBrightness(label.color)>130 ? '#000000' : '#ffffff' }}"
      ng-repeat="label in ctrl.defaultLabels track by $index">
      {{label.text}}
      <a role="button" ng-click="ctrl.removeLabel(label.text)">X</a>
    </span>
  </div>
  <message-filter-bar topic="ctrl.topic" searching="ctrl.filterDialog.visible"></message-filter-bar>
</div>
