.list-view.topics {
  .table {
    td {
      &.topics-topic {
        width:20%;
      }
      &.topics-date {
        width: 10%;
      }
      &.topics-header {
        padding-left:10px;
      }
    }
  }
}
