<div class="list-view topics" data-ng-controller="TopicsListCtrl">

    <div data-ng-if="data.count==0" class="alert alert-warning">
      {{ 'topics-notopic' | translate }}
    </div>

    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-primary" ui-sref="topics-new">
          <i class="fa fa-plus"></i>
          {{ 'components_topics_new_topic' | translate}}
        </a>
        <button data-ng-if="isAdmin()" class="btn btn-default" data-ng-click="topicsAdminMode(false)">
          <i class="fa fa-plus"></i>
          {{ 'components_topics_list_non_admin_mode' | translate}}
        </button>
        <button data-ng-if="isAdmin()" class="btn btn-default" data-ng-click="topicsAdminMode(true)">
          <i class="fa fa-plus"></i>
          {{ 'components_topics_list_admin_mode' | translate}}
        </button>
      </div>
    </div>

    <div class="row" data-ng-show="data.getForTatAdmin">
      <div class="alert alert-info">
        {{ 'components_topics_list_admin_mode_info' | translate}}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <rd-widget>
          <rd-widget-header icon="fa-group" title="{{data.topics.length}} Topics on total of {{data.count}}">
              <input data-ng-model="data.filterList" type="text" placeholder="Search in this list" class="form-control">
          </rd-widget-header>
          <rd-widget-body classes="no-padding">
            <div class="table-responsive">
              <table class="table groups-list">
                <thead>
                  <tr>
                    <th>{{ 'shared_common_topic' | translate }}</th>
                    <th>{{ 'shared_common_description' | translate }}</th>
                    <th>{{ 'components_topics_rights' | translate }}</th>
                    <th data-ng-if="data.adminOfOneTopic">{{ 'shared_common_created_at' | translate }}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="topicItem in data.topics | filter:data.filterList" class="topic-first-row">
                        <th class="topics-name">{{ topicItem.topic }}</th>
                        <td class="topics-description">{{ topicItem.description }}</td>
                        <td class="topics-users">
                          <span data-ng-if="topicItem.roGroups" title="Read Only Groups">
                            ROG:{{topicItem.roGroups.length}}
                          </span>
                          <span data-ng-if="topicItem.rwGroups" title="Read Write Groups">
                            RWG:{{topicItem.rwGroups.length}}
                          </span>
                          <span data-ng-if="topicItem.roUsers" title="Read Only Users">
                            ROU:{{topicItem.roUsers.length}}
                          </span>
                          <span data-ng-if="topicItem.rwUsers" title="Read Write Users">
                            RWU:{{topicItem.rwUsers.length}}
                          </span>
                          <span data-ng-if="topicItem.adminUsers" title="Admin Users">
                            AU:{{topicItem.adminUsers.length}}
                          </span>
                          <span data-ng-if="topicItem.adminGroups" title="Admin Group">
                            AG:{{topicItem.adminGroups.length}}
                          </span>
                        </td>
                        <td class="topics-date">
                          <span data-ng-if="topicItem.dateCreation">{{topicItem.dateCreation * 1000 | date:'yyyy-MM-dd'}}</span>
                          <span data-ng-if="!topicItem.dateCreation">&nbsp;</span>
                        </td>
                        <td class="topics-edit">
                          <a data-ng-if="isadmin() || canView(topicItem)" ui-sref="topics-edit({topicRoute:topicItem.topic})">
                            <i class="fa fa-edit"></i>
                          </a>
                          <span data-ng-if="!isAdmin() && !canView(topicItem)" class="disabled"><i class="fa fa-edit"></i></span>
                          <span data-ng-if="isAdmin() && !canView(topicItem)" class="disabled"><i class="fa fa-edit"></i></span>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </rd-widget-body>
        </rd-widget>
      </div>
    </div>
</div>
