@import "constants.less";

body {
    font-size:10px;
    overflow-y: hidden;
    background: #fbfbfb;
}

.row {
  &.header {
    height:65px;
    margin:0;
  }
}

.btn {
  &.btn-default {
    background-color: #fff;
    border-color: #ededed;
    &:hover {
      background-color: #cceff9;
      border-color: #b9dde7;
    }
  }
}

.meta {
  a:hover {
    text-decoration: none;
  }
  .fa {
    transition: color 0.4s;
  }
  .fa-caret {
    color: #ddd;
  }
  .fa-bell-slash:hover,
  .fa-star-o:hover {
    color: #30AFFF;
  }
  .fa-star {
    color: rgb(233, 177, 44);
  }
  .fa-bell-o {
    color: rgb(233, 177, 44);
  }
}

.menu-icon {
  opacity: 0.6;
  transition: opacity 0.4s;
  color: #A4C1FF;
  &:hover {
    opacity: 1;
  }
}

.user {
  .item {
    .fa {
      transition: color 0.4s;
      line-height: 65px!important;
    }
    &.open, &:hover {
      .fa {
        color: #30AFFF;
      }
    }
  }
}

.single {
    background-color: @menu-bg;
    height: 100%;
    width: 100%;
    position: fixed;
    div.signup {
        padding-top: 100px;
        text-align: center;
        color: #b2bfdc;
        a {
            font-size: 16px;
        }
        h1 {
            font-weight: bold;
            padding: 0 0 20px 0;
        }
    }
}

.wrapper {
    padding: @wrapper-padding 0px 0px @wrapper-padding;
    font-size: 14px;
}

.input-group {
    margin-bottom:10px;
}

.page {
    i {
        color: @topic-sep;
    }
}

.sidebar-sublist-item a {
  transition: background-color 0.4s;
  span {
    transition: color 0.4s;
  }
}

.notification {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 70px;
  transition: left 0.4s ease 0s;
}

.open .notification {
  left: 250px;
}

.alert {
  border-radius: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  .close {
    top: -1px;
    opacity: 0.8;
  }
  &.alert-info {
    color: white;
    background-color: #30AFFF;
    border-color: #30AFFF;
  }
  &.alert-danger {
    color: white;
    background-color: #DD2B57;
    border-color: #DD2B57;
  }
}

#page-wrapper {
  min-height: 300px;
}

#sidebar-wrapper {
  width: @menu-width;
  .sidebar-main {
    height: auto;
    margin-left: 180px;
    transition: margin 0.3s;
    a {
      width: 70px;
      height: 70px;
      border-radius: 0 0 40px 40px;
      transition: width 0.3s;
      .menu-icon {
        position: absolute;
        top: 8px;
        right: 0;
        opacity: 1;
        display: none;
      }
      &:hover {
        .tat-logo {
          background-color: #4374ab;
        }
        .menu-icon {
          display: none;
        }
      }
      .tat-logo {
        background-image: url("/assets/img/tat.svg"), none;
        text-indent: -9999px;
        height: 50px;
        width: 50px;
        display: block;
        background-size: 50px auto;
        background-position: 35% 53%;
        border-radius: 50%;
        position: relative;
        top: 10px;
        background-color: #305681;
        margin: 0 auto;
      }
    }
  }
  .sidebar {
    bottom: 40px;
    .sidebar-sublist-item {
      .badge {
        padding: 3px 7px;
        background-color: #213257;
        color: #A4C1FF;
        border: 1px solid #20325A;
      }
    }
  }
  .sidebar-section {
    display: none;
  }
}

.open {
  .sidebar-main {
    margin-left: 0!important;
    a {
      width: 250px!important;
      &:hover {
        .menu-icon {
          display: inline-block!important;
        }
      }
    }
  }
}

.open #sidebar-wrapper {
  .sidebar-section {
    display: block;
  }
}

.sidebar-footer {
  background-color: #213257;
  a {
    color: #A4C1FF!important;
    &:hover {
      color: white!important;
    }
  }
}

.list-view {
  padding: 30px 10px;
  font-size: 14px;

  .widget-header {
    .pull-left {
      position: relative;
      font-size: 1.45em;
      top: 10px;
      left: 10px;
    }
    .pull-right {
      margin-bottom: 0px;
      position: relative;
      top: 7px;
    }
  }

  .table {
    margin-bottom: 0;
    tbody {
      tr {
        &:hover {
          background-color: rgb(245, 250, 255);
          td {
            &.users-spacer {
              border-right: 3px solid #ffbf00;
            }
          }
        }
      }
      tr {
        &.users-first-row {
          border-top: 1px solid #bbbbbb;
        }
        cursor: pointer;
        td {
          padding:8px 0 8px 0;
          height: 38px;
          &.spacer {
            width: 5px;
          }
          .disabled {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
