<div class="row header" ng-show="ctrl.data.showHeader">
  <div class="col-xs-12">

    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a role="button" class="dropdown-toggle" title="{{ ctrl.getUser('fullname') }}" uib-dropdown-toggle>
          <i class="fa fa-cogs"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            <a ui-sref="user-profile" title="{{ 'master-profile' | translate }}">
              {{ ctrl.getUser('fullname') | uppercase }}
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a ui-sref="users-list">
              {{ 'master-users' | translate }}
            </a>
          </li>
          <li class="link">
            <a ui-sref="groups-list">
              {{ 'master-groups' | translate }}
            </a>
          </li>
          <li class="link">
            <a ui-sref="topics-list">
              {{ 'master-topics' | translate }}
            </a>
          </li>
          <li class="divider"></li>
          <li class="link" data-ng-repeat="menuItem in ctrl.data.bottomMenu track by $index">
            <a href="{{menuItem.url}}">
              {{ menuItem.caption | translate}}
            </a>
          </li>
          <li class="divider" ng-if="ctrl.data.displayLogout"></li>
          <li class="link" ng-if="ctrl.data.displayLogout">
            <a ui-sref="user-logout">
              {{ 'master-logout' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <div  data-ng-if="ctrl.isMessagesView()" style="width: 200px;font-size: 14px;padding-top: 14px;" ng-hide="ctrl.data.viewsEnabled">
        {{ 'master-cant-change-view' | translate }}
      </div>

      <ui-select data-ng-if="ctrl.isMessagesView()" ng-show="ctrl.data.viewsEnabled" class="pull-right"
      style="width: 200px;top: 15px;" data-ng-model="ctrl.data.currentView"
      ng-change="ctrl.switchView($select.selected.route)" theme="bootstrap">
        <ui-select-match placeholder="Select or search a view...">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="v in ctrl.data.views | filter:$select.search">
          <div ng-bind-html="v.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

    </div>

    <div class="tat-main-header">
      <h1 data-ng-if="!ctrl.isMessagesView()">
        {{ ctrl.data.currentView.name | translate }}
      </h1>
      <h1 data-ng-if="ctrl.isMessagesView()">
        <span>
          {{ ctrl.data.topic.description }}
        </span>
        &nbsp;
        <a role="button"
          title="{{ 'master-toggle-presences' | translate }}"
          ng-click="ctrl.togglePresences()"
          ng-class="{'open': ctrl.data.isPresencesOpen}">
          <i class="fa fa-street-view"></i>
          <span class="badge">{{ ctrl.data.presences.length }}</span>
        </a>
        <a role="button" data-ng-click="ctrl.toggleTopicFavorite()">
          <i class="fa"
            data-ng-class="{'fa-star-o':!ctrl.data.isFavoriteTopic, 'fa-star': ctrl.data.isFavoriteTopic}">
          </i>
        </a>
        <a role="button"
          title="{{ 'master-toggle-notification' | translate }}"
          data-ng-click="ctrl.toggleNotificationsTopic()">
          <i class="fa"
            data-ng-class="{'fa-bell-o':!ctrl.data.isNotificationsOffTopic, 'fa-bell-slash': ctrl.data.isNotificationsOffTopic}">
          </i>
        </a>
        <a title="{{ 'master-topic-configuration' | translate }}" data-ng-if="ctrl.canEditTopic(ctrl.data.topic)" ui-sref="topics-edit({topicRoute:ctrl.data.topic.topic})">
          <i class="fa fa-pencil"></i>
        </a>
      </h1>
      <h2 data-ng-if="ctrl.isMessagesView()">
        <span data-ng-repeat="sub in ctrl.data.subTitle track by $index">/<a data-ng-href="{{ctrl.topicURL(sub, $index)}}">{{ sub }}</a></span>
      </h2>
    </div>
  </div>
</div>
