@import '../../../../styles';

.signup {
  background-color: $darkblue;
  height: 100%;

  img {
    text-align: center;
  }

  .button.field {
    min-height: 30px;
  }

  .floatLeft {
    float:left;
  }
}
