<div class="signup" data-ng-controller="UserLoginCtrl">
    <h1>{{ 'shared-title-tat' | translate}}</h1>
    <div class="signup-box">
        <form role="form">
          <div class="form-group">
            <label for="username">{{ 'components_user_signup_username' | translate}}</label>
            <input type="text" class="form-control" id="username" data-ng-model="user.username">
          </div>
          <div class="form-group">
            <label for="pwd">{{ 'components_user_signup_password' | translate}}</label>
            <input type="password" class="form-control" id="pwd" data-ng-model="user.password">
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" data-ng-model="user.remember">{{ 'components_user_signup_remember' | translate}}</label>
          </div>
          <div class="form-group">
            <a role="button" data-ng-click="signup()">{{ 'components_user_signup_signup' | translate}}</a>
          </div>
            <div class="form-group">
            <a role="button" data-ng-click="resetPassword()">{{ 'components_user_reset_request' | translate}}</a>
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="connect()">{{ 'components_user_signup_submit' | translate}}</button>
        </form>
    </div>
    <div class="signup-box-footer">
        <div config-urls="'home'"></div>
    </div>

</div>
