/* You can add global styles to this file, and also import other style files */

$darkblue: #161D23;

$darkblueHover: #2F3E4B;
$messageBackground: #fbfbfb;

$sidebarCloseWidth: 75px;
$sidebarOpenWidth: 250px;

html, body {
  margin: 0;
  height: 100%;

  #page-wrapper {
    height: 100%;

    #sidebar-wrapper {
      height: 100%;
      float:left;
      width: $sidebarCloseWidth;
    }

    #sidebar-wrapper.open {
      width: $sidebarOpenWidth;
    }

    #content-wrapper {
      height: 100%;
      padding-left: $sidebarOpenWidth;
      background-color: $messageBackground;
    }

    #content-wrapper.open {
      padding-left: $sidebarCloseWidth;
    }
  }
}
body {
  margin-top: -14px;
}


.messageTag {
  background-color: #E4F9F9;
  border-radius: 3px;
  border: 1px solid #7B9DB4;
  color: #545454;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 2px;
  text-indent: 0px;
  text-transform: uppercase;
}

.pointing {
  cursor: pointer;
}


// Semantic hack
.wide.sixteen {
  width: 100% !important;
}
.wide.nine {
  width: 50% !important;
}