/* You can add global styles to this file, and also import other style files */
$darkblue: #161D23;

$darkblueHover: #2F3E4B;

$sidebarWith: 250px;

html, body {
  margin: 0;
  height: 100%;

  #page-wrapper {
    height: 100%;

    #sidebar-wrapper {
      height: 100%;
      width: $sidebarWith;
      float:left;
      width: 75px;
    }

    #sidebar-wrapper.open {
      width: 250px;
    }

    #content-wrapper {
      height: 100%;
    }
  }
}
body {
  margin-top: -14px;
}
