<div class="filter-dialog">

    <!-- full text search -->
    <div class="input-group">
      <span class="input-group-addon" id="filter-fulltext"><i class="fa fa-search"></i></span>
      <input type="text"
             class="form-control"
             placeholder="{{ MessageFilter.options.placeholder.text || 'text' }}"
             ng-model="MessageFilter.tmpFilter.text"
             aria-describedby="filter-fulltext">
    </div>

    <!-- in labels -->
    <div class="form-group">
        <div mass-autocomplete>
          <input ng-model="MessageFilter.tmpFilter.label" class="form-control"
                 type="text"
                 mass-autocomplete-item="autocompleteOptionsLabels"
                 aria-describedby="filter-labels"
                 placeholder="{{ MessageFilter.options.placeholder.label || 'open,doing' }}">
        </div>
        <span id="helpBlock" class="help-block">
          <i class="fa fa-tags"></i>
          <strong>{{ 'shared_filter_in' | translate }}</strong>: {{ 'shared_filter_contains_labels' | translate }}
        </span>
    </div>

    <!-- and labels -->
    <div class="form-group">
      <div mass-autocomplete>
        <input type="text"
               class="form-control"
               placeholder="{{ MessageFilter.options.placeholder.andLabel || 'open,doing' }}"
               mass-autocomplete-item="autocompleteOptionsLabels"
               ng-model="MessageFilter.tmpFilter.andLabel"
               aria-describedby="filter-labels">
      </div>
      <span id="helpBlock" class="help-block">
        <i class="fa fa-tags"></i>
        <strong>{{ 'shared_filter_all' | translate }}</strong>: {{ 'shared_filter_contains_all_labels' | translate }}
      </span>
    </div>

    <!-- hide labels -->
    <div class="form-group">
      <div mass-autocomplete>
        <input type="text"
               class="form-control"
               placeholder="{{ MessageFilter.options.placeholder.notLabel || 'done' }}"
               ng-model="MessageFilter.tmpFilter.notLabel"
               mass-autocomplete-item="autocompleteOptionsLabels"
               aria-describedby="filter-hide-labels">
      </div>
      <span id="helpBlock" class="help-block">
        <i class="fa fa-tags"></i>
        <strong>{{ 'shared_filter_hide' | translate }}</strong>: {{ 'shared_filter_hide_labels' | translate }}
      </span>
    </div>

     <!-- in tags -->
    <div class="form-group">
      <div mass-autocomplete>
        <input type="text"
               class="form-control"
               placeholder="{{ MessageFilter.options.placeholder.tag || 'TagA,TagB' }}"
               mass-autocomplete-item="autocompleteOptionsTags"
               ng-model="MessageFilter.tmpFilter.tag"
               aria-describedby="filter-tags">
      </div>
      <span id="helpBlock" class="help-block">
        <i class="fa fa-hashtag"></i>
        <strong>{{ 'shared_filter_in' | translate }}</strong>: {{ 'shared_filter_contains_tags' | translate }}
      </span>
    </div>

    <!-- and tags -->
    <div class="form-group">
      <div mass-autocomplete>
        <input type="text"
               class="form-control"
               placeholder="{{ MessageFilter.options.placeholder.andTag || 'TagA,TagB' }}"
               mass-autocomplete-item="autocompleteOptionsTags"
               ng-model="MessageFilter.tmpFilter.andTag"
               aria-describedby="filter-tags">
      </div>
      <span id="helpBlock" class="help-block">
        <i class="fa fa-hashtag"></i>
        <strong>{{ 'shared_filter_all' | translate }}</strong>: {{ 'shared_filter_contains_all_tags' | translate }}
      </span>
    </div>

    <!-- hide tags -->
    <div class="form-group">
      <div mass-autocomplete>
        <input type="text"
               class="form-control"
               placeholder="{{ MessageFilter.options.placeholder.notTag || 'TagA,TagB' }}"
               ng-model="MessageFilter.tmpFilter.notTag"
               mass-autocomplete-item="autocompleteOptionsTags"
               aria-describedby="filter-hide-tags">
      </div>
      <span id="helpBlock" class="help-block">
        <i class="fa fa-hashtag"></i>
        <strong>{{ 'shared_filter_hide' | translate }}</strong>: {{ 'shared_filter_hide_all_tags' | translate }}
      </span>
    </div>

    <form>
      <!-- apply filters -->
      <div class="form-group form-actions">
        <button type="submit"
                class="btn btn-primary btn-xs"
                ng-click="MessageFilter.filterSearch()">
                {{ 'shared_filter_search' | translate }}
        </button>
      </div>
    </form>
</div>
