<!-- tat-message-filters -->
<div class="tat-message-filters">

  <!-- full text search -->
  <div class="row" ng-show="ctrl.searching">
    <span>
      <strong>Choose a criteria:</strong>
    </span>

    <span class="tat-filter-group" ng-click="ctrl.addPrefix('tag')" uib-tooltip="{{ 'shared_filter_contains_tags' | translate }}">
      <strong class="inclusive" >
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_in' | translate }}
      </strong>
      <a role="button" class="tat-tag"><i>#</i>tag</a>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('and-tag')" uib-tooltip="{{ 'shared_filter_contains_all_tags' | translate }}">
      <strong class="inclusive" >
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_all' | translate }}
      </strong>
      <a role="button" class="tat-tag"><i>#</i>and-tags</a>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('not-tag')" uib-tooltip="{{ 'shared_filter_hide_all_tags' | translate }}">
      <strong class="exclusive" >
        <i class="fa fa-minus-square"></i>
        {{ 'shared_filter_hide' | translate }}
      </strong>
      <a role="button" class="tat-tag"><i>#</i>not-tag</a>
    </span>

    <span class="tat-filter-group" ng-click="ctrl.addPrefix('label')" uib-tooltip="{{ 'shared_filter_contains_labels' | translate }}">
      <strong class="inclusive">
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_in' | translate }}
      </strong>
      <a role="button" class="tat-label">label</a>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('and-label')" uib-tooltip="{{ 'shared_filter_contains_all_labels' | translate }}">
      <strong class="inclusive" class="tat-label">
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_all' | translate }}
      </strong>
      <a role="button" class="tat-label">and-labels</a>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('not-label')" uib-tooltip="{{ 'shared_filter_hide_all_labels' | translate }}">
      <strong class="exclusive" class="tat-label">
        <i class="fa fa-minus-square"></i>
        {{ 'shared_filter_hide' | translate }}
      </strong>
      <a role="button" class="tat-label">not-label</a>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('text')" uib-tooltip="{{ 'shared_filter_text' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-font"></i> Text
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('username')" uib-tooltip="{{ 'shared_filter_usernames' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-user"></i> Username
      </strong>
    </span>

    <form>
      <div class="tat-msg-input">
        <div mass-autocomplete>
          <input ng-model="ctrl.data.search" mass-autocomplete-item="autocompleteSearch"
          class="form-control" type="text" name="msgFilterBar" id="msgFilterBar"
          placeholder="criteria:your search">
        </div>
        <i class="fa fa-search fa-spinner fa-pulse" ng-if="ctrl.data.loadingAutocomplete"></i>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.filterSearch()">
            <i class="fa fa-search"></i>
        </button>
        <a class="btn btn-default" ng-click="ctrl.searching=false">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </form>
  </div>

  <span ng-show="ctrl.searching && !ctrl.data.isEmptySearch">
    <strong>Current search: </strong>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.text">
    <strong class="inclusive">
      <i class="fa fa-search"></i>
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('text')">
      {{ ctrl.filter.text }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- in labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.label.length">
    <strong class="inclusive">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_in' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.label" ng-click="ctrl.removeFilter('label', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- and labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.andLabel.length">
    <strong class="inclusive">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_all' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.andLabel" ng-click="ctrl.removeFilter('andLabel', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- hide labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.notLabel.length">
    <strong class="exclusive">
      <i class="fa fa-minus-square"></i>
      {{ 'shared_filter_hide' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.notLabel" ng-click="ctrl.removeFilter('notLabel', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- in tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.tag.length">
    <strong class="inclusive">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_in' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.tag" ng-click="ctrl.removeFilter('tag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- all tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.andTag.length">
    <strong class="inclusive">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_all' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.andTag" ng-click="ctrl.removeFilter('andTag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- hide tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.notTag.length">
    <strong class="inclusive">
      <i class="fa fa-minus-square"></i>
      {{ 'shared_filter_hide' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.notTag" ng-click="ctrl.removeFilter('notTag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- usernames -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.username.length">
    <strong class="inclusive">
      <i class="fa fa-user"></i>
    </strong>
    <a role="button" class="tat-tag" ng-repeat="username in ctrl.filterAsList.username" ng-click="ctrl.removeFilter('username', username)">
      {{ username }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- message id -->
  <span class="tat-filter-group" ng-if="ctrl.filter.idMessage">
    <strong class="inclusive">
      <i class="fa fa-envelope"></i> ID
    </strong>
    <a role="button" class="tat-tag" ng-click="ctrl.removeFilter('idMessage')">
      {{ ctrl.filter.idMessage }}
      <i class="fa fa-times"></i>
    </a>
  </span>
</div>
