<!-- tat-message-filters -->
<div class="tat-message-filters">

  <!-- full text search -->
  <div class="row" ng-show="ctrl.searching">
    <span>
      <strong>Choose a criteria:</strong>
    </span>

    <span class="tat-filter-group" ng-click="ctrl.addPrefix('tag')" uib-tooltip="{{ 'shared_filter_contains_tags_tips' | translate }}">
      <strong class="inclusive" >
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_in' | translate }} <i>#</i>tag
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('andTag')" uib-tooltip="{{ 'shared_filter_contains_all_tags_tips' | translate }}">
      <strong class="inclusive" >
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_all' | translate }} <i>#</i>tag
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('notTag')" uib-tooltip="{{ 'shared_filter_hide_all_tags_tips' | translate }}">
      <strong class="exclusive" >
        <i class="fa fa-minus-square"></i>
        {{ 'shared_filter_hide' | translate }} <i>#</i>tag
      </strong>
    </span>

    <span class="tat-filter-group" ng-click="ctrl.addPrefix('label')" uib-tooltip="{{ 'shared_filter_contains_labels_tips' | translate }}">
      <strong class="inclusive">
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_in' | translate }} label
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('andLabel')" uib-tooltip="{{ 'shared_filter_contains_all_labels_tips' | translate }}">
      <strong class="inclusive" class="tat-label">
        <i class="fa fa-plus-square"></i>
        {{ 'shared_filter_all' | translate }} label
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('notLabel')" uib-tooltip="{{ 'shared_filter_hide_all_labels_tips' | translate }}">
      <strong class="exclusive" class="tat-label">
        <i class="fa fa-minus-square"></i>
        {{ 'shared_filter_hide' | translate }} label
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.dateSearchForm('dateCreation')" uib-tooltip="{{ 'shared_filter_date_creation_tips' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-calendar"></i> {{ 'shared_filter_date_creation' | translate }}
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.dateSearchForm('dateUpdate')" uib-tooltip="{{ 'shared_filter_date_update_tips' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-calendar"></i> {{ 'shared_filter_date_update' | translate }}
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('username')" uib-tooltip="{{ 'shared_filter_usernames_tips' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-user"></i> {{ 'shared_filter_username' | translate }}
      </strong>
    </span>
    <span class="tat-filter-group" ng-click="ctrl.addPrefix('text')" uib-tooltip="{{ 'shared_filter_text_tips' | translate }}">
      <strong class="inclusive" class="tat-textlabel">
        <i class="fa fa-font"></i> {{ 'shared_filter_text' | translate }}
      </strong>
    </span>
    <a class="btn btn-default" ng-click="ctrl.searching=false">
      <i class="fa fa-times"></i> {{ 'shared_common_cancel' | translate }}
    </a>
  </div>
  <div class="row" ng-show="ctrl.searching">
    <form ng-show="ctrl.data.prefix">
      <div ng-show="ctrl.data.currentHelp" class="col-md-4">
        <label class="alert alert-info">
          {{ ctrl.data.currentHelp | translate }}
        </label>
      </div>
      <div class="tat-msg-input" ng-if="!ctrl.data.searchingDate">
          <div mass-autocomplete>
            <input ng-model="ctrl.data.search" mass-autocomplete-item="autocompleteSearch"
            class="form-control" type="text" name="msgFilterBar" id="msgFilterBar"
            placeholder="your search">
          </div>
        <i class="fa fa-search fa-spinner fa-pulse" ng-if="ctrl.data.loadingAutocomplete"></i>
      </div>
      <div ng-if="ctrl.data.searchingDate">
        {{ 'shared_filter_from' | translate }}
        <datetimepicker
          ng-model="ctrl.data.dateMinSearch"
          show-meridian="false"
          show-spinners="false"
          mousewheel="false"
          date-format="yyyy-MMM-dd"
          date-options="ctrl.data.dateOptions"
          readonly-date="false"
          show-spinners="true"></datetimepicker>

        {{ 'shared_filter_to' | translate }}
        <datetimepicker
          ng-model="ctrl.data.dateMaxSearch"
          show-meridian="false"
          show-spinners="false"
          mousewheel="false"
          date-format="yyyy-MMM-dd"
          date-options="ctrl.data.dateOptions"
          readonly-date="false"
          show-spinners="true"></datetimepicker>
      </div>

      <div class="row" style="margin-left:10px">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.filterSearch(true)">
            <i class="fa fa-plus"></i> {{ 'shared_filter_add' | translate }}
        </button>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.filterSearch(false)">
            <i class="fa fa-search"></i> {{ 'shared_filter_search' | translate }}
        </button>
      </div>
    </form>
  </div>

  <span ng-show="ctrl.searching && !ctrl.data.isEmptySearch">
    <hr>
    <strong>Current search: </strong>
  </span>

  <!-- in tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.tag.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('tag')">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_in' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.tag" ng-click="ctrl.removeFilter('tag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- all tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.andTag.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('andTag')">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_all' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.andTag" ng-click="ctrl.removeFilter('andTag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- hide tags -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.notTag.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('notTag')">
      <i class="fa fa-minus-square"></i>
      {{ 'shared_filter_hide' | translate }}
    </strong>
    <a role="button" class="tat-tag" ng-repeat="tag in ctrl.filterAsList.notTag" ng-click="ctrl.removeFilter('notTag', tag)">
      <i>#</i>{{ tag }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- in labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.label.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('label')">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_in' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.label" ng-click="ctrl.removeFilter('label', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- and labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.andLabel.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('andLabel')">
      <i class="fa fa-plus-square"></i>
      {{ 'shared_filter_all' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.andLabel" ng-click="ctrl.removeFilter('andLabel', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- hide labels -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.notLabel.length">
    <strong class="exclusive" ng-click="ctrl.viewFilter('notLabel')">
      <i class="fa fa-minus-square"></i>
      {{ 'shared_filter_hide' | translate }}
    </strong>
    <a role="button" class="tat-label" ng-repeat="label in ctrl.filterAsList.notLabel" ng-click="ctrl.removeFilter('notLabel', label)">
      {{ label }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.dateMinCreation">
    <strong class="inclusive" ng-click="ctrl.viewFilter('dateCreation')">
      <i class="fa fa-calendar"></i>
      {{ 'shared_filter_date_min_creation' | translate }}
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('dateMinCreation')">
      {{ ctrl.filter.dateMinCreation * 1000 | amCalendar }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.dateMaxCreation">
    <strong class="inclusive" ng-click="ctrl.viewFilter('dateCreation')">
      <i class="fa fa-calendar"></i>
      {{ 'shared_filter_date_max_creation' | translate }}
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('dateMaxCreation')">
      {{ ctrl.filter.dateMaxCreation * 1000 | amCalendar }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.dateMinUpdate">
    <strong class="inclusive" ng-click="ctrl.viewFilter('dateUpdate')">
      <i class="fa fa-calendar"></i>
      {{ 'shared_filter_date_min_update' | translate }}
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('dateMinUpdate')">
      {{ ctrl.filter.dateMinUpdate * 1000 | amCalendar }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.dateMaxUpdate">
    <strong class="inclusive" ng-click="ctrl.viewFilter('dateUpdate')">
      <i class="fa fa-calendar"></i>
      {{ 'shared_filter_date_max_update' | translate }}
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('dateMaxUpdate')">
      {{ ctrl.filter.dateMaxUpdate * 1000 | amCalendar }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- usernames -->
  <span class="tat-filter-group" ng-if="ctrl.filterAsList.username.length">
    <strong class="inclusive" ng-click="ctrl.viewFilter('username')">
      <i class="fa fa-user"></i>
    </strong>
    <a role="button" class="tat-tag" ng-repeat="username in ctrl.filterAsList.username" ng-click="ctrl.removeFilter('username', username)">
      {{ username }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span class="tat-filter-group" ng-if="ctrl.filter.text">
    <strong class="inclusive" ng-click="ctrl.viewFilter('text')">
      <i class="fa fa-search"></i>
    </strong>
    <a role="button" class="tat-textlabel" ng-click="ctrl.removeFilter('text')">
      {{ ctrl.filter.text }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <!-- message id -->
  <span class="tat-filter-group" ng-if="ctrl.filter.idMessage">
    <strong class="inclusive" ng-click="ctrl.viewFilter('idMessage')">
      <i class="fa fa-envelope"></i> ID
    </strong>
    <a role="button" class="tat-tag" ng-click="ctrl.removeFilter('idMessage')">
      {{ ctrl.filter.idMessage }}
      <i class="fa fa-times"></i>
    </a>
  </span>

  <span ng-show="ctrl.searching">
    <button ng-hide="ctrl.data.saving || ctrl.data.isEmptySearch" title="{{ 'shared_filter_save' | translate }}" type="submit" class="btn btn-primary" ng-click="ctrl.data.saving=!ctrl.data.saving">
      <i class="fa fa-save"></i>
    </button>

    <span ng-show="ctrl.data.saving">
      <div class="col-md-3">
        {{ 'shared_filter_title' | translate }}
        <input type="text" ng-model="ctrl.data.title" class="form-control" />
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.filterSaveCurrent()">
            <i class="fa fa-search"></i> {{ 'shared_filter_save' | translate }}
        </button>
        <button type="button" class="btn btn-default" ng-click="ctrl.data.saving=false">
            <i class="fa fa-times"></i> {{ 'shared_common_cancel' | translate }}
        </button>
      </div>
    </span>
  </span>

  <div ng-show="ctrl.searching">
    <hr>
    <strong>Your Filters: </strong>
    <span ng-hide="ctrl.topic.filters.length > 0" class="label label-info">You have not filter recorded yet</span>

    <div class="row" ng-hide="ctrl.data.filterEdit" ng-repeat="f in ctrl.topic.filters track by f._id">
      <div class="row">
        <span>{{f.title}}</span>
          <!-- in tags -->
        <span class="tat-filter-group" ng-if="f.criteria.tag.length">
          <strong class="inclusive" >
            <i class="fa fa-plus-square"></i>
            {{ 'shared_filter_in' | translate }}
          </strong>
          <a role="button" class="tat-tag">
            <i>#</i>{{ f.criteria.tag }}
          </a>
        </span>

        <!-- all tags -->
        <span class="tat-filter-group" ng-if="f.criteria.andTag.length">
          <strong class="inclusive" >
            <i class="fa fa-plus-square"></i>
            {{ 'shared_filter_all' | translate }}
          </strong>
          <a role="button" class="tat-tag">
            <i>#</i>{{ f.criteria.andTag }}
          </a>
        </span>

        <!-- hide tags -->
        <span class="tat-filter-group" ng-if="f.criteria.notTag.length">
          <strong class="inclusive" >
            <i class="fa fa-minus-square"></i>
            {{ 'shared_filter_hide' | translate }}
          </strong>
          <a role="button" class="tat-tag">
            <i>#</i>{{ f.criteria.notTag }}
          </a>
        </span>

        <!-- in labels -->
        <span class="tat-filter-group" ng-if="f.criteria.label.length">
          <strong class="inclusive" >
            <i class="fa fa-plus-square"></i>
            {{ 'shared_filter_in' | translate }}
          </strong>
          <a role="button" class="tat-label">
            {{ f.criteria.label }}
          </a>
        </span>

        <!-- and labels -->
        <span class="tat-filter-group" ng-if="f.criteria.andLabel.length">
          <strong class="inclusive" >
            <i class="fa fa-plus-square"></i>
            {{ 'shared_filter_all' | translate }}
          </strong>
          <a role="button" class="tat-label">
            {{ f.criteria.andLabel }}
          </a>
        </span>

        <!-- hide labels -->
        <span class="tat-filter-group" ng-if="f.criteria.notLabel.length">
          <strong class="exclusive" >
            <i class="fa fa-minus-square"></i>
            {{ 'shared_filter_hide' | translate }}
          </strong>
          <a role="button" class="tat-label">
            {{ f.criteria.notLabel }}
          </a>
        </span>

        <!-- usernames -->
        <span class="tat-filter-group" ng-if="f.criteria.username.length">
          <strong class="inclusive" >
            <i class="fa fa-user"></i>
          </strong>
          <a role="button" class="tat-tag">
            {{ f.criteria.username }}
          </a>
        </span>

        <span>
          <label>
            <input type="checkbox" ng-model="f.criteria.onlyMsgRoot" disabled="true"/>
            {{ 'shared_filter_only_root' | translate }}
          </label>
        </span>
        <span>
          <button type="button" title="{{ 'shared_filter_edit' | translate }}" class="btn btn-default" ng-click="ctrl.data.filterEdit=true;f.edit=true">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-default" ng-click="ctrl.applyFilter(f)">
            <i class="fa fa-check"></i> {{ 'shared_filter_apply' | translate }}
          </button>
        </span>
      </div>
      <hr>
    </div>

    <div class="row" ng-show="f.edit" ng-repeat="f in ctrl.topic.filters track by f._id">
      <div class="row">
        <div class="col-md-1">{{ 'shared_filter_title' | translate }} <input type="text" ng-model="f.title" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_in' | translate }} label <input type="text" ng-model="f.criteria.label" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_hide' | translate }} label<input type="text" ng-model="f.criteria.notLabel" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_all' | translate }} label<input type="text" ng-model="f.criteria.andLabel" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_in' | translate }} <i>#</i>tag<input type="text" ng-model="f.criteria.tag" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_hide' | translate }} <i>#</i>tag<input type="text" ng-model="f.criteria.notTag" class="form-control" /></div>
        <div class="col-md-1">{{ 'shared_filter_all' | translate }} <i>#</i>tag<input type="text" ng-model="f.criteria.andTag" class="form-control" /></div>
        <div class="col-md-2">{{ 'shared_filter_username' | translate }} <input type="text" ng-model="f.criteria.username" class="form-control" /></div>
        <div class="col-md-3">
          <label>
            <input type="checkbox" ng-model="f.criteria.onlyMsgRoot" />
            {{ 'shared_filter_only_root' | translate }}
          </label>
        </div>
      </div>
      <div class="row" ng-repeat="h in f.hooks track by h._id">
        <div class="col-md-3">
          {{ 'shared_filter_type' | translate }}
          <ui-select data-ng-model="h.type" theme="bootstrap">
            <ui-select-match placeholder="Select or search a type in the list...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in ctrl.data.typeHooks | filter: $select.search">
              <div>{{item}}</div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-4">
          {{ 'shared_filter_destination' | translate }}
          <input type="text" ng-model="h.destination" class="form-control" />
        </div>
        <div class="checkbox col-md-1">
           <label>
             <input type="checkbox" ng-model="h.enabled">
             {{ 'shared_filter_enable' | translate }}
           </label>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="ctrl.addHook(f)">
          <i class="fa fa-plus"></i> {{ 'shared_filter_add_hook' | translate }}
        </button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" ng-click="ctrl.filterUpdate(f)">
          <i class="fa fa-save"></i> {{ 'shared_filter_save' | translate }}
        </button>
        <button type="button" class="btn btn-danger" ng-click="ctrl.filterDelete(f)">
          <i class="fa fa-trash"></i> {{ 'shared_filter_delete' | translate }}
        </button>
        <button type="button" class="btn btn-default" ng-click="ctrl.data.filterEdit=false;f.edit=false">
          <i class="fa fa-times"></i> {{ 'shared_common_cancel' | translate }}
        </button>
      </div>
    </div>
  </div>

</div>
