<div class="signup" data-ng-controller="UserResetCtrl">
    <h1>{{ 'shared-title-tat' | translate}}</h1>
    <div class="signup-box">
        <form role="form">
          <div class="form-group">
            <label for="email">{{ 'components_user_signup_email' | translate}}</label>
            <input type="email" class="form-control" id="email" data-ng-model="user.email">
          </div>
          <div class="form-group">
            <label for="username">{{ 'components_user_signup_username' | translate}}</label>
            <input type="text" class="form-control" id="email" data-ng-model="user.username">
          </div>
          <button type="submit" class="btn btn-default" data-ng-click="resetPassword()">{{ 'components_user_reset_submit' | translate}}</button>
        </form>
    </div>
</div>
